<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.password">akd9360_</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernateDemo</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        
         <mapping class="com.arpit.hibernate.UserDetails"></mapping>
         <mapping class="com.arpit.hibernate.DemoIncrement"></mapping>
         
         <mapping class="com.arpit.hibernate.Student"></mapping>
         <mapping class="com.arpit.hibernate.Person"></mapping>
         <mapping class="com.arpit.hibernate.PersonDetails"></mapping>
         
         
         
         <mapping class="com.arpit.hibernate.UserVehicle"></mapping>
         <mapping class="com.arpit.hibernate.Vehicle"></mapping>
         
    </session-factory>
</hibernate-configuration>
